<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="D:\Teguh\semester_7\CourtBook\phpunit.xml" tests="69" assertions="226" errors="0" failures="0" skipped="0" time="5.790951">
    <testsuite name="Unit" tests="6" assertions="20" errors="0" failures="0" skipped="0" time="0.372450">
      <testsuite name="Tests\Unit\BookingCancellationTest" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" tests="5" assertions="10" errors="0" failures="0" skipped="0" time="0.361210">
        <testsuite name="Tests\Unit\BookingCancellationTest::test_cancellation_decision_branches" tests="5" assertions="10" errors="0" failures="0" skipped="0" time="0.361210">
          <testcase name="test_cancellation_decision_branches with data set #0" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" line="17" class="Tests\Unit\BookingCancellationTest" classname="Tests.Unit.BookingCancellationTest" assertions="2" time="0.300631"/>
          <testcase name="test_cancellation_decision_branches with data set #1" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" line="17" class="Tests\Unit\BookingCancellationTest" classname="Tests.Unit.BookingCancellationTest" assertions="2" time="0.016497"/>
          <testcase name="test_cancellation_decision_branches with data set #2" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" line="17" class="Tests\Unit\BookingCancellationTest" classname="Tests.Unit.BookingCancellationTest" assertions="2" time="0.015009"/>
          <testcase name="test_cancellation_decision_branches with data set #3" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" line="17" class="Tests\Unit\BookingCancellationTest" classname="Tests.Unit.BookingCancellationTest" assertions="2" time="0.015490"/>
          <testcase name="test_cancellation_decision_branches with data set #4" file="D:\Teguh\semester_7\CourtBook\tests\Unit\BookingCancellationTest.php" line="17" class="Tests\Unit\BookingCancellationTest" classname="Tests.Unit.BookingCancellationTest" assertions="2" time="0.013583"/>
        </testsuite>
      </testsuite>
      <testsuite name="Tests\Unit\DesignTokenTest" file="D:\Teguh\semester_7\CourtBook\tests\Unit\DesignTokenTest.php" tests="1" assertions="10" errors="0" failures="0" skipped="0" time="0.011240">
        <testcase name="test_documented_palette_matches_canonical_css" file="D:\Teguh\semester_7\CourtBook\tests\Unit\DesignTokenTest.php" line="10" class="Tests\Unit\DesignTokenTest" classname="Tests.Unit.DesignTokenTest" assertions="10" time="0.011240"/>
      </testsuite>
    </testsuite>
    <testsuite name="Feature" tests="63" assertions="206" errors="0" failures="0" skipped="0" time="5.418501">
      <testsuite name="Tests\Feature\AuthAndAdminTest" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" tests="13" assertions="100" errors="0" failures="0" skipped="0" time="1.373179">
        <testcase name="test_public_pages_render_and_filters_work" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="41" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="11" time="0.400780"/>
        <testcase name="test_registration_cannot_escalate_role" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="51" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="4" time="0.045227"/>
        <testcase name="test_registration_validation_login_and_logout" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="58" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="14" time="0.243115"/>
        <testcase name="test_guest_and_customer_admin_access_denied" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="68" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="6" time="0.039612"/>
        <testcase name="test_booking_ownership_on_detail_cancel_and_pay" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="76" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="4" time="0.073287"/>
        <testcase name="test_password_reset_broker_single_use_and_invalid_token" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="86" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="11" time="0.250780"/>
        <testcase name="test_profile_validates_current_password_and_prevents_role_change" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="105" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="5" time="0.041312"/>
        <testcase name="test_admin_pages_and_court_crud" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="113" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="16" time="0.095904"/>
        <testcase name="test_admin_cannot_delete_court_history_or_pay_for_customer" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="128" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="4" time="0.030906"/>
        <testcase name="test_maintenance_crud_and_time_validation" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="136" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="7" time="0.041933"/>
        <testcase name="test_settings_validate_booking_hours_and_preserve_snapshot" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="149" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="5" time="0.034984"/>
        <testcase name="test_refund_manual_progress_and_transition_validation" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="158" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="7" time="0.043075"/>
        <testcase name="test_booking_form_rejects_fractional_input_and_ignores_price" file="D:\Teguh\semester_7\CourtBook\tests\Feature\AuthAndAdminTest.php" line="170" class="Tests\Feature\AuthAndAdminTest" classname="Tests.Feature.AuthAndAdminTest" assertions="6" time="0.032262"/>
      </testsuite>
      <testsuite name="Tests\Feature\BookingRulesTest" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" tests="24" assertions="41" errors="0" failures="0" skipped="0" time="0.587267">
        <testcase name="test_price_dp_and_rate_snapshot_are_integer_and_immutable" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="42" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="5" time="0.023468"/>
        <testcase name="test_fractional_dp_rounds_up_in_integer_rupiah" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="54" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.022451"/>
        <testcase name="test_overlapping_booking_rejected_and_adjacent_booking_allowed" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="61" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="3" time="0.024155"/>
        <testcase name="test_same_hour_on_different_courts_is_allowed" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="74" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.023738"/>
        <testsuite name="Tests\Feature\BookingRulesTest::test_booking_boundaries_rejected" tests="6" assertions="6" errors="0" failures="0" skipped="0" time="0.142726">
          <testcase name="test_booking_boundaries_rejected with data set #0" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.021914"/>
          <testcase name="test_booking_boundaries_rejected with data set #1" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.020065"/>
          <testcase name="test_booking_boundaries_rejected with data set #2" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.024025"/>
          <testcase name="test_booking_boundaries_rejected with data set #3" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.034383"/>
          <testcase name="test_booking_boundaries_rejected with data set #4" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.022156"/>
          <testcase name="test_booking_boundaries_rejected with data set #5" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="88" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.020182"/>
        </testsuite>
        <testcase name="test_close_time_and_max_advance_boundary_allowed" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="94" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.026140"/>
        <testcase name="test_duration_crossing_close_rejected" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="100" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.025644"/>
        <testcase name="test_two_hour_lead_boundary" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="106" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="2" time="0.024668"/>
        <testcase name="test_maintenance_prevents_booking_and_overlap" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="114" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.027300"/>
        <testcase name="test_maintenance_cannot_replace_existing_booking" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="121" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.023251"/>
        <testcase name="test_maintenance_requires_whole_hours" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="128" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.020695"/>
        <testcase name="test_inactive_court_rejects_booking" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="134" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.020394"/>
        <testcase name="test_hold_expires_at_exact_deadline_and_releases_slot" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="141" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="4" time="0.025638"/>
        <testcase name="test_unpaid_cancellation_and_repeated_cancel" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="152" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="3" time="0.024119"/>
        <testcase name="test_paid_cancellation_at_24_hours_creates_single_refund" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="162" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="2" time="0.027922"/>
        <testcase name="test_paid_cancellation_inside_24_hours_rejected" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="172" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.023154"/>
        <testcase name="test_balance_deadline_cancels_partial_and_forfeits_dp" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="181" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="5" time="0.031878"/>
        <testcase name="test_fully_paid_booking_survives_balance_deadline" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="193" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.023146"/>
        <testcase name="test_reservation_database_unique_constraint" file="D:\Teguh\semester_7\CourtBook\tests\Feature\BookingRulesTest.php" line="202" class="Tests\Feature\BookingRulesTest" classname="Tests.Feature.BookingRulesTest" assertions="1" time="0.026781"/>
      </testsuite>
      <testsuite name="Tests\Feature\ConcurrencyTest" file="D:\Teguh\semester_7\CourtBook\tests\Feature\ConcurrencyTest.php" tests="1" assertions="6" errors="0" failures="0" skipped="0" time="2.097347">
        <testcase name="test_two_processes_cannot_book_same_slot_in_file_sqlite" file="D:\Teguh\semester_7\CourtBook\tests\Feature\ConcurrencyTest.php" line="13" class="Tests\Feature\ConcurrencyTest" classname="Tests.Feature.ConcurrencyTest" assertions="6" time="2.097347"/>
      </testsuite>
      <testsuite name="Tests\Feature\HomePageTest" file="D:\Teguh\semester_7\CourtBook\tests\Feature\HomePageTest.php" tests="1" assertions="3" errors="0" failures="0" skipped="0" time="0.031729">
        <testcase name="test_home_shows_simulation_and_unapproved_theme" file="D:\Teguh\semester_7\CourtBook\tests\Feature\HomePageTest.php" line="12" class="Tests\Feature\HomePageTest" classname="Tests.Feature.HomePageTest" assertions="3" time="0.031729"/>
      </testsuite>
      <testsuite name="Tests\Feature\PaymentsTest" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" tests="24" assertions="56" errors="0" failures="0" skipped="0" time="1.328979">
        <testcase name="test_snap_uses_unique_order_backend_auth_and_reuses_active_attempt" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="67" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="3" time="0.069039"/>
        <testcase name="test_initial_dp_confirms_booking_and_balance_settles_once" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="76" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="6" time="0.034956"/>
        <testcase name="test_full_payment_and_duplicate_and_stale_pending" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="91" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.032131"/>
        <testcase name="test_invalid_signature_rejected_without_network_or_credit" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="101" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.032263"/>
        <testcase name="test_mismatched_amount_rejected" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="110" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.027161"/>
        <testcase name="test_server_status_mismatch_rejected" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="118" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.026353"/>
        <testcase name="test_capture_fraud_challenge_does_not_confirm" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="127" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="3" time="0.033378"/>
        <testcase name="test_stale_webhook_uses_current_server_status" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="137" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.035746"/>
        <testcase name="test_late_payment_after_expiry_refunds_and_does_not_steal_new_slot" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="146" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="4" time="0.037050"/>
        <testcase name="test_payment_after_unpaid_cancellation_is_manual_refund" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="160" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.031138"/>
        <testcase name="test_new_payment_blocked_while_other_kind_pending" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="169" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="1" time="0.025660"/>
        <testcase name="test_second_dp_and_payment_above_remaining_prevented" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="176" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="1" time="0.027964"/>
        <testcase name="test_fully_paid_booking_cannot_pay_again" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="184" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="1" time="0.028007"/>
        <testcase name="test_failed_attempt_can_retry_with_new_order_and_no_out_of_order_regression" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="192" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.039108"/>
        <testcase name="test_old_success_after_new_attempt_paid_is_overpayment_refund" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="202" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.036379"/>
        <testcase name="test_unconfigured_midtrans_does_not_fake_payment" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="213" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="3" time="0.559692"/>
        <testcase name="test_uncertain_gateway_failure_keeps_unique_attempt" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="221" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.034750"/>
        <testcase name="test_pending_reconcile_does_not_trust_browser_or_confirm" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="233" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.030541"/>
        <testcase name="test_balance_payment_after_deadline_becomes_refund" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="241" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="3" time="0.036186"/>
        <testcase name="test_merchant_and_currency_checked" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="253" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="1" time="0.029638"/>
        <testcase name="test_initial_payment_cannot_start_at_balance_cutoff" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="261" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="1" time="0.024220"/>
        <testcase name="test_initial_full_success_after_cutoff_is_refund_without_confirming" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="268" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="4" time="0.028382"/>
        <testcase name="test_provider_transaction_id_cannot_be_reused_for_other_order" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="280" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="2" time="0.036966"/>
        <testcase name="test_fractional_gross_amount_and_missing_provider_id_are_rejected" file="D:\Teguh\semester_7\CourtBook\tests\Feature\PaymentsTest.php" line="293" class="Tests\Feature\PaymentsTest" classname="Tests.Feature.PaymentsTest" assertions="3" time="0.032269"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
